li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
        
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.jello {
  background-image: url("../photos/Jello.jpg");
  background-size: cover;

}

#header1 {
  font-family: "Lobster Two"
}

.dragged {
  z-index: 1;
  transform: rotate(2deg);
}

